---
name: madhu-surisetti
layout: default
description: and his adventures in la la land
---

<div class="lists" >
    <h2> Lists </h2>
  {% for list in site.lists %}
    <article class="list">
      <h1><a href="{{ site.baseurl }}{{ list.url }}">{{ list.title }}</a></h1>
      <div class="entry">
        {{ list.excerpt }}
        Started on {{ list.start }}
      </div>
      <a href="{{ site.baseurl }}{{ list.url }}" class="read-more">Read More</a>
    </article>
    {% endfor %}


    The fm books

  {% assign books = site.static_files | where: "book", true %}
  {% for fm_book in books %}
    <div class="books">
      <a href="{{ site.baseurl }}{{ fm_book.path }}" class="read-more">{{ fm_book.name }}</a>
    </div>
  {% endfor %}

    {% for book in site.fm %}
    <article class="list">
      <h1><a href="{{ site.baseurl }}{{ pdf.url }}">{{ pdf.title }}</a></h1>
      <div class="entry">
      </div>
      <a href="{{ site.baseurl }}{{ pdf.url }}" class="read-more">Read More</a>
    </article>
    {% endfor %}


</div>
